<div class="main about">
	<div class="container">
		<div class="row">
			<div class="col-md-6 thumbnail">
				<img alt="Me" src="https://dl.dropboxusercontent.com/u/69054817/ian_about.jpg" />
			</div>
			<div class="col-md-6">
				<h2><span class="highlight">Ian Blair</span> is a writer living in New York City.</h2>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div id="instagram-card">
	    <div class="section-title lines">
	    	<h2><a href="https://instagram.com/i2theb/" target="_blank">Follow @i2theb on Instagram</a></h2>
	    </div>  

	    <div class="row">
	    	<div id="instafeed"></div>
	    </div>

		<script type="text/javascript">
			var feed = new Instafeed({
			get: 'tagged',
			tagName: 'sanfrancisco',
			clientId: '20ad2023226f49ab834f0210ff9475ea',
			template: '<a class="fancybox col-md-2 padded" href="{{image}}" rel="ig" title="{{caption}}"><img class="instagram-image" src="{{image}}" /></a>'
			});
			feed.run();        
		</script>
	</div>
</div>